
@font-face {
  font-family: 'InsaniburgerwithCheese';
  src: url('/styles/fonts/InsaniburgerwithCheese.eot?#iefix') format('embedded-opentype'),  
      url('/styles/fonts/InsaniburgerwithCheese.woff') format('woff'), 
      url('/styles/fonts/InsaniburgerwithCheese.ttf')  format('truetype'), 
      url('/styles/fonts/InsaniburgerwithCheese.svg#InsaniburgerwithCheese') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1 span,
h2 span,
h3 span,
h4 span{
    color: $tertiaryFont;
}

input[type="text"],
input[type="number"]{
    font-family: 'InsaniburgerwithCheese', Helvetica, sans-serif;
    background: $searchBackground;
    color: $baseFont;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 1.4em;
    border: none;
}