
@font-face {
  font-family: 'InsaniburgerwithCheese';
  src: url('/Styles/fonts/InsaniburgerwithCheese.eot?#iefix') format('embedded-opentype'),  
      url('/Styles/fonts/InsaniburgerwithCheese.woff') format('woff'), 
      url('/Styles/fonts/InsaniburgerwithCheese.ttf')  format('truetype'), 
      url('/Styles/fonts/InsaniburgerwithCheese.svg#InsaniburgerwithCheese') format('svg');
  font-weight: normal;
  font-style: normal;
}
