// notification overview 
#notifications {
    background-color: $primaryColour;
    font-family: Helvetica, sans-serif;
}

// notification design 
.notification-icon {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    padding: 20px;
    text-align: center;
    background-color: rgba(black, 0.2);
    i {
        width: 20px;
        font-size: 20px;
    }
}

.notification-body {
    display: table-cell;
    vertical-align: middle;
    padding: 30px;
}

.close-notification {
    position: absolute;
    background-color: rgba(black, 0.25);
    border: none;
    margin: 0px -28px;
    padding: 5px 10px;
    font-size: 10px;
    color: $baseFont;
    &:hover {
        background-color: rgba(black, 0.3);
    }
}

.notification {
    display: table;
    position: relative;
    margin: 50px auto 0;
    width: 500px;
    transition: all 0.2s ease;
    &.is-hidden {
        opacity: 0;
        height: 0;
        font-size: 0;
        padding: 9;
        margin: 0 auto;
        display: block;
    }
}

// individual notification bg colours 
.info {
    background-color: #2196f3;
}

.success {
    background-color: #4caf50;
}

.warning {
    background-color: #ff9800;
}

.error {
    background-color: #f44336;
}