input[type="text"],
input[type="number"]{
    font-family: 'InsaniburgerwithCheese', Helvetica, sans-serif;
    background: $searchBackground;
    color: $baseFont;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 1.4em;
    border: none;
}

button,
.btn{
    font-family: 'InsaniburgerwithCheese', Helvetica, sans-serif;
    background: $primaryColour;
    color: $baseFont;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 1.4em;
    border: none;
    cursor: pointer;

    &:hover{
        background: lighten($primaryColour, 3);
    }
}

.form-row{
    padding: 10px 0;
    clear: both;
}

input[type="file"]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

}

input[type="file"] + label{
        font-family: 'InsaniburgerwithCheese', Helvetica, sans-serif;
        background: $secondaryColour;
        color: $baseFont;
        padding: 10px 15px;
        border-radius: 3px;
        font-size: 1.4em;
        border: none;
        cursor: pointer;
        float: left;
        margin-right: 10px;

        &:hover{
            background: lighten($secondaryColour, 3);
        }
    }