$pageFullSize: 960px !default;
$pageMargin: 20px !default;

.grid-block {
  box-sizing: border-box;
  float: left;
  margin-left: $pageMargin;
}

@mixin grid($gridSize) {
  width: calc(#{(100% / 12) * $gridSize} - #{$pageMargin});
  @extend .grid-block;
}

@for $i from 1 through 12 {
  .grid-#{$i} {
    @include grid($i);
  }
}

.wrapper {
  padding: 30px 0;
  margin: 30px auto;
  float: none;
  overflow: auto;
}