// Colours
    // Base Colours 
    $primaryColour: #17c2a4; 
    $secondaryColour: #d74680;
    $tertiaryColour: #87509c; 
    $altColour: #eb7d4b;

    // Utilities 
    $upload: #30bae7;
    $uploadAlt: #17c2a4;
    $upgradeCircle: #d74680; 
    $searchBackground: #273a71; 
    $modalBackground: #e7f1f8;

    // Font Colours 
    $baseFont: #ffffff;
    $secondaryFont: #393939;
    $tertiaryFont: #87509c; 
    $altFont: #d74680;

    // Page Specific 
    $highscoresBg: #ffdd99;
    $highscoresAlt: #e5c689;

// Grid 
    // grid variables 
    $grid-columns: 12;
    $grid-max-width: 65em;

    // breakpoints 
    $breakpoint-small: "only screen and (min-width: 20em)";
    $breakpoint-medium: "only screen and (min-width: 30em)";


// Modal
    // characters 
    $characters: 6;