/* Base Colours */
$primaryColour: #17c2a4; 
$secondaryColour: #d74680;
$tertiaryColour: #87509c; 
$altColour: #eb7d4b;

/* Utilities */
$upload: #30bae7;
$uploadAlt: #17c2a4;
$upgradeCircle: #d74680; 
$search: #273a71; 
$modal: #e7f1f8;

/* Font Colours */
$baseFont: #ffffff;
$secondaryFont: #393939;
$tertiaryFont: #87509c; 
$altFont: #d74680;

/* Page Specific */
$highscoresBg: #ffdd99;
$highscoresAlt: #e5c689;

