@import "variables";
@import "mixins";
@import "grid";
@import "form";
@import "modules/utilities";
@import "font";

@import 'modules/configuration/modal';
@import 'modules/configuration/upload';
@import 'modules/configuration/search';

@import 'modules/notification';

@import "modules/game/game";
@import "modules/game/sidebar";

@import "modules/odometer";

// global
body {
    font-family: 'Roboto Slab', serif;
    color: $baseFont;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
}
